[submodule "remote-desktop-clients-private"]
	path = remote-desktop-clients-private
	url = https://github.com/CypherpunkArmory/remote-desktop-clients.git
[submodule "termux-app-private"]
	path = termux-app-private
	url = https://github.com/CypherpunkArmory/termux-app.git
